<a href="https://colab.research.google.com/github/Soumya-Sri-Mutyala/Machine-Learning/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Name: Soumya Sri Mutyala (Net ID: xo3697)
Teammate: Padmanabhan Ramakrishnan(Net ID: jg6742)
Team ID - 5

In [ ]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from scipy.stats import ttest_ind
import scipy.stats as stats
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from ipykernel import kernelapp as app
import sys
import math

In [ ]:
#Using pandas extracting CSV files
training_data=pd.read_csv('C:/Users/Documents/HW2/optdigits_69_N200.tra',header=None)
training_data.head()
test_data=pd.read_csv('C:/Users/Documents/HW2/optdigits_69.tes',header=None)
test_data.head()
train_y=pd.DataFrame(training_data.iloc[:,-1])
train_x=pd.DataFrame(training_data.iloc[: , :-1])
test_y=pd.DataFrame(test_data.iloc[:,-1])
test_x=pd.DataFrame(test_data.iloc[: , :-1])

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,0,12,13,0,0,0,0,0,...,0,0,0,1,9,15,11,3,0,6
1,0,0,0,8,15,1,0,0,0,0,...,2,0,0,0,7,15,16,11,0,6
2,0,0,1,13,14,3,0,0,0,0,...,0,0,0,3,12,15,14,7,0,6
3,0,0,0,5,14,2,0,0,0,0,...,0,0,0,0,5,16,15,3,0,6
4,0,0,0,10,13,1,0,0,0,1,...,0,0,0,0,7,15,15,5,0,6

In [ ]:
def var(*arg):
    return np.sum(*arg-np.mean(*arg)**2)/len(*arg)

In [ ]:
# Hint1: Removing features with zero variance
zerovariance=[]
for i in range(64):
    
    if train_x.iloc[:,i].var()==0:
        
        zerovariance.append(i) 
        
print(zerovariance)     
train_x_new=train_x.drop(train_x.columns[zerovariance],axis=1)
test_x_new=test_x.drop(test_x.columns[zerovariance],axis=1)

[0, 8, 16, 24, 31, 32, 39, 40, 48, 56]

In [ ]:
#Classifying 6 and 9
class6_data=[]
class9_data=[]
for i in range(200):
    if (train_y.iloc[i,0]==6):
        class6_data.append(train_x.iloc[i,])
    else:
        class9_data.append(train_x.iloc[i,])
print(np.shape(class6_data))    
print(np.shape(class9_data))
class6_data=pd.DataFrame(class6_data)
class9_data=pd.DataFrame(class9_data)

(100, 64)
(100, 64)

In [ ]:
#Finding Mean, Standard Deviation and Probablity of class 6 nad 9
mean6=[]
mean9=[]
std_6=[]
std_9=[]
for j in range(64):
    mean6.append(class6_data.iloc[:,j].mean())
    mean9.append(class9_data.iloc[:,j].mean())
    std_6.append(class6_data.iloc[:,j].std())
    std_9.append(class6_data.iloc[:,j].std())
prob_9=0
prob_6=0
l1=len(class6_data)
l2=len(class9_data)
prob_6=l1/(l1+l2)
prob_9=l2/(l1+l2)
print(prob_6)
print(prob_9)

0.5
0.5

In [ ]:
#Question 1: Finding Training Errors, Test Errors, Best 10 features

test_x_new.iloc[359,53]
trainY=np.array(train_y)
testY=np.array(test_y)
best = []
testerrors = {}
trainerrors = {}
for col in range(64):
    errors = 0
    for i in range(200):
        
        if (std_6[col] != 0):
            g6 = -(np.log(2*np.pi)/2) - np.log(std_6[col]) - ((train_x.iloc[i,col]-mean6[col])**2)/(2*((std_6[col])**2)) + np.log(prob_6)
        else:
            continue

        if (std_9[col] != 0):
            g9 = -(np.log(2*np.pi)/2) - np.log(std_9[col]) - ((train_x.iloc[i,col]-mean9[col])**2)/(2*((std_9[col])**2)) + np.log(prob_9)
        else:
            continue
        if g6 < g9:
            if i <100 :
                if trainY[i]==6:
                    errors += 1
        else:
            if i>100:
                
                 if trainY[i]==9:
                    errors += 1
                
    if errors != 0:
        trainerrors[col] = errors
print("Training Errors: ", trainerrors)
print("\n")

for col in range(64):
    errors = 0
    for i in range(360):
        if (std_6[col] != 0):
             t6 = -(np.log(2*np.pi)/2) - np.log(std_6[col]) - ((test_x.iloc[i,col]-mean6[col])**2)/(2*((std_6[col])**2)) + np.log(prob_6)
        else:
            continue

        if (std_9[col] != 0):
            t9 = -(np.log(2*np.pi)/2) - np.log(std_9[col]) - ((test_x.iloc[i,col]-mean9[col])**2)/(2*((std_9[col])**2)) + np.log(prob_9)
        else:
            continue
        if t6 < t9:
            if i<100:
                 if testY[i]==6:
                    errors += 1
        else:
            if i>100:
                if testY[i]==9:
                    errors += 1
                
    if errors != 0:
        testerrors[col] = errors
print("Test Errors: ", testerrors)
print("\n")
best = sorted(testerrors.items(), key=lambda trainY:trainY[1])
best = best[:10]
print("Best 10 features are: ", best)

Training errors:  {2: 53, 3: 85, 4: 76, 5: 64, 9: 61, 10: 58, 11: 72, 12: 59, 13: 19, 17: 55, 18: 89, 19: 84, 20: 42, 25: 99, 26: 79, 27: 77, 28: 31, 29: 4, 30: 34, 33: 43, 34: 18, 35: 51, 36: 58, 37: 73, 38: 69, 41: 44, 42: 1, 43: 24, 44: 88, 45: 91, 46: 53, 47: 92, 49: 97, 50: 44, 51: 40, 52: 78, 53: 101, 54: 35, 55: 69, 57: 92, 58: 61, 59: 69, 60: 77, 61: 49, 62: 50, 63: 88}


Test errors:  {2: 66, 3: 108, 4: 112, 5: 100, 9: 92, 10: 63, 11: 74, 12: 100, 13: 30, 17: 102, 18: 142, 19: 106, 20: 50, 25: 167, 26: 102, 27: 79, 28: 32, 29: 20, 30: 72, 33: 34, 34: 21, 35: 68, 36: 65, 37: 122, 38: 91, 41: 33, 42: 2, 43: 21, 44: 79, 45: 151, 46: 111, 47: 98, 49: 156, 50: 86, 51: 48, 52: 139, 53: 141, 54: 80, 55: 99, 57: 165, 58: 70, 59: 95, 60: 128, 61: 96, 62: 88, 63: 105}


Best 10 features are:  [(42, 2), (29, 20), (34, 21), (43, 21), (13, 30), (28, 32), (41, 33), (33, 34), (51, 48), (20, 50)]

In [ ]:
train=np.array(train_x_new)
mean6=pd.DataFrame(mean6)
mean9=pd.DataFrame(mean9)
print(mean6)

        0
0    0.00
1    0.00
2    1.62
3   10.39
4    8.17
..    ...
59  10.01
60  14.62
61  13.55
62   6.46
63   0.29

[64 rows x 1 columns]

In [ ]:
for i in range(64):
    if std_6[i]==0:
        mean6=mean6.drop(i,axis=0)
        
for i in range(64):
    if std_9[i]==0:
        mean9=mean9.drop(i,axis=0)

In [ ]:
for i in range(64):
    if std_6[i]==0:
        class6_data=class6_data.drop(i,axis=1)


for i in range(64):
    if std_9[i]==0:
        class9_data=class9_data.drop(i,axis=1)

In [ ]:
for i in range(64):
    if bool(std_9[i]==0) | bool(std_6[i]==0):
        train_x=train_x.drop(i,axis=1)
        
for i in range(64):
    if bool(std_9[i]==0) | bool(std_6[i]==0):
        test_x=test_x.drop(i,axis=1)

In [ ]:
test_x=np.array(test_x)
train=np.array(train)
six,nine = np.cov(class6_data.T), np.cov(class9_data.T)
e1,e2 = np.array(six), np.array(nine)
m1, m2 = np.linalg.pinv(six), np.linalg.pinv(nine)
G1,g1 = -1/2*(m1), m1.dot(mean6)
H1 = 1/2*(np.transpose(mean6).dot(m1.dot(mean6))) - 1/2*(math.log(np.linalg.det(six))+math.log(1/2))
I2,i2 = -1/2*(m2), m2.dot(mean9)
J2 = 1/2*(np.transpose(mean9).dot(m2.dot(mean9))) - 1/2*(math.log(np.linalg.det(nine)+1)+math.log(1/2))

In [ ]:
train1,train2,train3,train4,test1,test2,test3,test4 = 0,0,0,0,0,0,0,0
for i,value in enumerate(train):
    
    bof66=np.array(((value.T).dot(A1)).dot(value) + (a1.T).dot(value)+L1)
    bof99=np.array(((value.T).dot(A2)).dot(value) + (a2.T).dot(value)+L2)
    if bof66[0] < bof99[0]:
        ptrain = 9
    else:
        ptrain = 6
    
    if ptrain == training_data.iloc[i,64]:
        if ptrain == 6:
            train1 += 1
        else:
            train2 += 1
    else:
        if training_data.iloc[i,64] == 6 and ptrain == 9:
            trainfn += 1
        else:
            trainfp += 1
print("tp,tn,fp,fn: ",train1, train2 , train3, train4)
print("Training Error:",1-((train1+train2)/(train1+train2+train3+train4)))

for i,value in enumerate(test_x):
    t6 = ((value.T).dot(A1)).dot(value) + (a1.T).dot(value)+L1
    t9 = ((value.T).dot(A2)).dot(value) + (a2.T).dot(value)+L2    
    t6=np.array(t6)
    t9=np.array(t9)
    if t6[0] < t9[0]:
        ptrain = 9
    else:
        ptrain = 6
    
    if ptrain == test_data.iloc[i,64]:
        if ptrain == 6:
            test1 += 1
        else:
            test2 += 1
    else:
        if test_data.iloc[i,6] == 6 and ptrain == 9:
            test3 += 1
        else:
            test4 += 1
print("tp,tn,fp,fn: ",test1, test2 , test3, test4)
print("Testing Error:",1-((test1+test2)/(test1+test2+test3+test4)))

tp,tn,fp,fn:  100 100 0 0
Training Error: 0.0
tp,tn,fp,fn:  179 178 4 0
Testing Error: 0.011080332409972304

In [ ]:
A = np.array(q)
Ainv = np.linalg.inv(A)
tp_train,tn_train,fp_train,fn_train,tp_train,tn_train,fp_train,fn_train = 0,0,0,0,0,0,0,0
a = prob_6*z1 + prob_9*z2
Var6 = Ainv.dot(meanarr_6)
var6 = -1/2*np.dot((np.transpose(meanarr_6)).dot(Qinv),meanarr_6) + math.log(prob_6)
Var9 = Qinv.dot(meanarr_9)
var9 = -1/2*np.dot((np.transpose(meanarr_9)).dot(Qinv),meanarr_9) + math.log(prob_9)

for i, value in enumerate(train):
    bof6 = (Var6.T).dot(value) + var6
    bof9 = (Var9.T).dot(value) + var9
    
    if bof6<bof9:
        point1 = 9
    else:
        point1 = 6
    if point1 == training_data.iloc[i,64]:
        if point1 == 6:
            tp_train += 1
        else:
            tn_train += 1
    else:
        if training_data.iloc[i,64] == 6 and point1 == 9:
            fn_train += 1
        else:
            fp_train += 1
print("tp,tn,fp,fn: ",tp_train, tn_train, fp_train, fn_train)
print("Training Error:",1-((tp_train+tn_train)/(tp_train+tn_train+fp_train+fn_train)))
for i, value in enumerate(test_x):
    bof6 = (Var6.T).dot(value) + var6
    bof9 = (Var9.T).dot(value) + var9
    
    if bof6<bof9:
        packct1 = 9
    else:
        packct1 = 6
    if packct1 == test_data.iloc[i,64]:
        if packct1 == 6:
            tp_test += 1
        else:
            tn_test += 1
    else:
        if test_data.iloc[i,64] == 6 and pct1 == 9:
            fn_test += 1
        else:
            fp_test += 1
print("tp,tn,fp,fn: ",tp_test, tn_test, fp_test, fn_test)
print("Testing Error:",1-((tp_test+tn_test)/(tp_test+tn_test+fp_test+fn_test)))

tp,tn,fp,fn:  100 100 0 0
Training Error: 0.0
tp,tn,fp,fn:  180 180 0 1
Testing Error: 0.0027700831024930483

In [ ]:
col,ft,tok2,cl6t,tst2 = [],[],[],[],[]
for i,j in best:
    ft.append(i)
cl6tst,cl9tst = class6_data[ft],class9_data[ft]
b2 = test_data.iloc[:,feat]
tst = np.array(b2)
c6,c9 = np.mean(cl6tst),np.mean(cl9tst) 
d6,d9 = np.cov(cl6tst.T), np.cov(cl9tst.T)
e1,e2 = np.array(d6),np.array(d9)
F1,F2 = np.linalg.inv(d6),np.linalg.inv(d9)
G1,g1 = -1/2*(F1), F1.dot(c6)
H1 = 1/2*(np.transpose(c6).dot(F1.dot(c6))) - 1/2*(math.log(np.linalg.det(d6))+math.log(p))
I2,i2 = -1/2*(F2), F2.dot(c9)
J2 = 1/2*(np.transpose(c9).dot(F2.dot(c9))) - 1/2*(math.log(np.linalg.det(d9))+math.log(p))
tp,tn,fp,fn = 0,0,0,0
for i, value in enumerate(test):
    bof6 = ((value.T).dot(A1)).dot(value)+(a1.T).dot(value) + H1
    bof9 = ((value.T).dot(A2)).dot(value)+(a2.T).dot(value) + J2
    if bof6 < bof9:
        point2 = 9
    else:
        point2 = 6
    if point2 == test_data.iloc[i,64]:
        if point2 == 6:
            tp += 1
        else:
            tn +=1
    else:
        if test_data.iloc[i,64] == 6 and point2 == 9:
            fn += 1
        else:
            fp += 1
print("tp,tn,fp,fn: ",tp,tn,fp,fn)
print("Training Error:",1-((tp+tn)/(tp+tn+fp+fn)))

tp,tn,fp,fn:  181 169 11 0
Training Error: 0.030470914127423865